# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
replay_pid*

#IntelliJ
.idea/
out/
*iml
/target/
/.idea/

# Compiled files directories
/src/main/java/Level_01/Exercise04/Level_01/Exercise04/
/src/main/java/Level_01/Exercise03/Level_01/Exercise03/
/src/main/java/Level_01/Exercise02/Level_01/Exercise02/
/src/main/java/Level_01/Exercise01/Level_01/Exercise01/
/src/main/resources/
/src/main/java/Level_01/Exercise05/Level_01/Exercise05/
/src/main/java/Level_01/Exercise05/object.ser
/src/main/java/Level_02/Exercise01/result/
/src/main/java/Level_02/Exercise01/Level_02/Exercise01/
